.info_top__container {
  position: relative;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  align-items: center;

  .avatar__container {
    position: absolute;
    left: 0;
    top: -45px;

    .avatar {
      height: 90px;
      width: 90px;
      border-radius: 50%;
      border: 3px solid #0b0c23;
    }
  }

  .options__container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
