.moment__container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;

  .location__container {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      color: #b6b7bd;
      font-size: 18px;
    }

    .location {
      color: #b6b7bd;
      font-size: 14px;
    }
  }

  .date__container {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      color: #b6b7bd;
      font-size: 18px;
    }

    .date {
      color: #b6b7bd;
      font-size: 14px;
    }
  }
}
