.moment__container {
  display: flex;
  gap: 20px;
  margin-top: 10px;

  .location__container {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      color: #B6B7BD;
      font-size: 18px;
    }

    .location {
      color: #B6B7BD;
      font-size: 14px;
    }
  }

  .date__container {
    display: flex;
    align-items: center;
    gap: 10px;
    
    .icon {
      color: #B6B7BD;
      font-size: 18px;
    }

    .date {
      color: #B6B7BD;
      font-size: 14px;
    }
  }
}