.container__all {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ebebec;
  height: 50px;
  background: #0001;
  z-index: 1;
  backdrop-filter: blur(30px);

  .nav__container {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}
