.post__container {
  border-bottom: 1px solid #3c3d4f;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  padding: 10px 0;
  position: relative;

  .post__section {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    max-width: calc(100% - 65px);
    min-width: calc(100% - 65px);
  }
}
