.post__bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  width: 100%;
  padding: 10px 0;
  color: #b6b7bd;
  border-bottom: 1px solid #3c3d4f;

  .comment__container {
    .comment__icon {
      font-size: 23px;
    }
  }

  .likes__container {
    .likes__icon {
      font-size: 23px;
    }
  }
}
