.button {
  margin: 10px 0;
  background-color: #3C3D4F;
  border: none;
  outline: none;
  height: 50px;
  color: #EBEBEC;
  font-weight: 700;
  font-size: 20px;
  border-radius: 2px;
}
.button:hover {
  background-color: #B6B7BD;
}