.button {
  margin: 10px 0;
  background-color: #3c3d4f;
  border: none;
  outline: none;
  height: 50px;
  color: #ebebec;
  font-weight: 700;
  font-size: 20px;
  border-radius: 2px;
}
.button:hover {
  background-color: #b6b7bd;
}
.button:disabled {
  background-color: #3c3d4f;
  color: #888;
}
