.comment__bottom {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 10px;
  width: 100%;
  height: 22px;
  color: #b6b7bd;

  .likes__container {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;

    .likes__icon {
      font-size: 21px;
    }

    .likes__count {
      font-size: 16px;
      font-weight: 300;
      align-self: flex-end;
    }
  }
}
