.form__legend {
  display: block;
  margin-top: 50px;
  color: #b6b7bd;
  font-size: 50px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 10px;

  span {
    font-size: 60px;
    font-weight: 700;
    color: #ebebec;
    letter-spacing: 5px;
  }
}
