.post__bottom {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 10px;
  width: 100%;
  height: 20px;
  color: #b6b7bd;

  .comment__icon {
    font-size: 20px;
  }

  .favorite__icon {
    font-size: 20px;
  }
}
