.profile {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;

  .profile__top {
    .profile__img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }

  .profile__medium {
    display: flex;
    flex-direction: column;

    .profile__info {
      flex-wrap: nowrap;
      max-height: 22px;
      width: 100%;

      .name {
        color: #ebebec;
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      .username {
        color: #b6b7bd;
        font-size: 14px;
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }

  .profile__bottom {
    display: flex;
    gap: 15px;
    margin-top: 10px;

    .profile__numbers_container {
      .profile__numbers {
        color: #b6b7bd;
        font-size: 14px;
        font-weight: 300;

        span {
          color: #ebebec;
          font-size: 15px;
          font-weight: 700;
        }
      }
    }
  }
}
