.top {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;

  .top__info {
    width: 90%;
    color: #EBEBEC;
    font-weight: 700;
    font-size: 18px;
    text-overflow: ellipsis;
  }

  .top__close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 10%;
    color: #EBEBEC;
    font-weight: 700;
    font-size: 30px;
  }
}