.bottom {
  width: 100%;

  .logout__container {
    height: 50px;
    border-top: 1px solid #b6b7bd;

    a {
      display: flex;
      align-items: center;
      height: 50px;
    }

    .text {
      color: #b6b7bd;
      font-size: 1.1rem;
    }
  }
}
